<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">JNM 2023</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Accueil</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Information JNM
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Journée Nationale de la MIAGE 2023</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Campus Paris Nanterre</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="#">Something else here</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Compte
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Inscription</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Connexion</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Déconnexion</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Sejour à Paris
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Réserver un logement</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Réserver un transport</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Activite
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Liste des Activités</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Réserver une Activité</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Statistique
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Liste des inscrits</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Partenaires
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Liste des Partenaires</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Ajout d'un Partenaire</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Suppression d'un Partenaire</a>
						</li>
					</ul>
				</li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
				<li class="nav-item">
					<a class="nav-link disabled">Administrateur</a>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
