<nav class="cc-navbar navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a href="/" class="navbar-brand text-uppercase mx-4 py-3"><img src="/images/Logo_nanterre.png" width="30" height="30" alt="Logo" class="d-inline-block align-top">JNM 2023</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item pe-3">
					<a class="nav-link active" aria-current="page" href="/">Accueil</a>
				</li>
				<li class="nav-item dropdown pe-3">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Information
					</a>
					<ul class="dropdown-menu dropdown-menu-dark ">
						<li>
							<a class="dropdown-item" href="/info_jnm">Informations - JNM 2023</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/info_campus">Campus & MIAGE Paris Nanterre</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown pe-3">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Séjour
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item" href="/logement">Réserver un logement</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/transport">Réserver un transport</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown pe-3">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Activite
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item" href="/liste_activite">Liste des activités</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/new_activite">Réserver une activité</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown pe-3">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Statistiques
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item" href="/stats">Statistiques Participants</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown pe-3">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Partenaires
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item" href="/liste_partenaire">Informations partenaires</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/partenaire1">Ajout d'un partenaire</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/delete_partenaire">Suppression d'un partenaire</a>
						</li>
					</ul>
				</li>
                <li class="nav-item dropdown pe-3">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					    Compte
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item" href="/register">Inscription</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/login">Connexion</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/logout">Déconnexion</a>
						</li>
					</ul>
				</li>
				<li class="nav-item pe-3">
					<a class="nav-link" href="#">Conncours Vidéo</a>
				</li>
				<li class="nav-item pe-3">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
