{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_liste_partenaire.css')}}">{% endblock %}
{% block title %}Liste Partenaires{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <h1>Informations Partenaires</h1>
        
        <div class="container">
                <div class="row justify-content-center">  

                    {# élément #}
                    <div class="col-9 pt-4 mt-4">
                        <h2>Liste des Partenaires</h2>                    
                    </div>

                    {# élément #}
                    <div class="col-9 pb-4 mb-4">
                        <h3></h3>
                        <a><img src="/images/img_partenaires/CFA_AFIA.png" width="250" height="200" alt="Logo"><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ut modi suscipit quis voluptas ab exercitationem quam aliquam dolorum et vero, culpa quasi amet sapiente tempora laudantium quidem impedit hic?</a>
                    </div>
                    <div class="w-100"></div>

                    {# élément #}
                    <div class="col-9 pb-4 m-4">
                        <h3></h3>
                        <a><img src="/images/img_partenaires/Capgemini.png" width="350" height="100" alt="Logo"><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ut modi suscipit quis voluptas ab exercitationem quam aliquam dolorum et vero, culpa quasi amet sapiente tempora laudantium quidem impedit hic?</a>
                    </div>
                    <div class="w-100"></div>

                    {# élément #}
                    <div class="col-9 pb-4 m-4">
                        <h3></h3>
                        <a><img src="/images/img_partenaires/Microsoft.jpg" width="350" height="100" alt="Logo"><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ut modi suscipit quis voluptas ab exercitationem quam aliquam dolorum et vero, culpa quasi amet sapiente tempora laudantium quidem impedit hic?</a>
                    </div>
                    <div class="w-100"></div>

                    {# élément #}
                    <div class="col-9 pb-4 m-4">
                        <h3></h3>
                        <a><img src="/images/img_partenaires/SopraSteria.png" width="350" height="150" alt="Logo"><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ut modi suscipit quis voluptas ab exercitationem quam aliquam dolorum et vero, culpa quasi amet sapiente tempora laudantium quidem impedit hic?</a>
                    </div>
                </div>
        </div>
    
    </section>

{% endblock %}
