{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_liste_partenaire.css')}}">{% endblock %}
{% block title %}Liste Partenaires{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <h1 class="text-center mb-4">Informations Partenaires</h1>
        
        <div class="container">
                <div class="row justify-content-center">  

                    {# élément #}
                    <div class="col-9 pt-4 mt-4">
                        <h3 class="text-center">Liste des Partenaires</h3>                    
                    </div>

                    {# élément #}
                    <div class="col-9 pb-4 mb-4">
                        <h3></h3>
                        <p><a><img class="ms-4" src="/images/img_partenaires/CFA_AFIA.png" width="250" height="200" alt="Logo"><br>Le CFA Afia propose de nombreuses formations dans les domaines de l’informatique et du numérique dispensées au sein d’établissements de prestige.</a></p>
                    </div>
                    <div class="w-100"></div>

                    {# élément #}
                    <div class="col-9 pb-4 m-4">
                        <h3></h3>
                        <p><a><img class="ms-4" src="/images/img_partenaires/Capgemini.png" width="350" height="100" alt="Logo"><br><br>Le Groupe Capgemini accompagne les organisations à travers le monde dans leur transformation en exploitant toute la puissance de la technologie.</a></p>
                    </div>
                    <div class="w-100"></div>

                    {# élément #}
                    <div class="col-9 pb-4 m-4">
                        <h3></h3>
                        <p><a><img class="ms-3" src="/images/img_partenaires/Microsoft.jpg" width="350" height="100" alt="Logo"><br><br>Les équipes de Microsoft Servies sont composés d’architectes, d’ingénieurs, de consultants, et de professionnels de l’IT présents à travers 191 pays.</a></p>
                    </div>
                    <div class="w-100"></div>

                    {# élément #}
                    <div class="col-9 pb-4 m-4">
                        <h3></h3>
                        <p><a><img class="ms-3" src="/images/img_partenaires/SopraSteria.png" width="350" height="150" alt="Logo"><br><br>Sopra Steria est un des leaders européens du conseil, des services numériques et de l'édition de logiciels. Des stratégies visionnaires, réellement actionnables et des résultats tangibles.</a></p>
                    </div>
                </div>
        </div>
    
    </section>

{% endblock %}
