{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_info_jnm.css')}}">{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Bienvenue sur la page d'Information sur la journee nationnal de la Miage</h1>
                </div>
                    <h2>Journées Nationales de la MIAGE</h2>
                        <p>Les Journées Nationales de la MIAGE sont un événement annuel organisé par l'Association Nationale des Étudiants en MIAGE (ANEM). Cet événement a pour but de promouvoir les études en MIAGE auprès des étudiants de première et de terminale, ainsi que de permettre aux étudiants en MIAGE de se rencontrer et d'échanger sur leur parcours et leur métier.</p>
                        <p>Les Journées Nationales de la MIAGE se déroulent généralement sur une journée entière et comprennent des conférences, des ateliers pratiques, des tables rondes et des stands d'information sur les différentes spécialisations proposées en MIAGE (informatique, finance, gestion, etc.). Elles sont ouvertes à tous et gratuites.</p>
                    <h2>Pourquoi participer aux Journées Nationales de la MIAGE ?</h2>
                    <ul>
                        <li>Pour découvrir les métiers et les débouchés liés aux études en MIAGE</li>
                        <li>Pour rencontrer des professionnels et des étudiants en MIAGE</li>
                        <li>Pour se faire une idée plus précise de ce qu'est la MIAGE et de ce que l'on peut en attendre</li>
                        <li>Pour poser toutes les questions que l'on se pose sur les études en MIAGE</li>
                    </ul>
                    <h2>Comment participer aux Journées Nationales de la MIAGE ?</h2>
                        <p>Il suffit de vous rendre régulièrment sur notre site web pour être informé de la date et du lieu des Journées Nationales de la MIAGE. L'inscription est gratuite et permet également de recevoir des informations sur le programme et les partenaires qui seront présents.</p>
                        <p>N'hésitez pas à venir nombreux lors de cette Journée Nationale de la MIAGE 2023.</p>
                <div class="col-md-6">
                
                </div>
            </div>
        </div>
    </section>  

{% endblock %}
