{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_info_jnm.css')}}">{% endblock %}
{% block title %}Informations{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <h1 class="text-center">Informations sur la JNM 2023</h1>
        <div class="container">
                <div class="row justify-content-center">
                    
                    {# élément #}
                    <div class="col-12 mt-5 px-5">
                        <h2>Journées Nationales de la MIAGE</h2>                  
                            <p> Les Journées Nationales de la MIAGE sont un événement annuel organisé par les differentes MIAGE à travers la France. Cet événement a pour but de promouvoir la filière MIAGE, de permettre aux étudiants en MIAGE de se rencontrer et d'échanger sur leur parcours et leur métier. Des entreprises sont aussi présentes lors de cette journée pour d'une part se faire connaitre mais aussi d'essayer de prendre contact avec de futurs salariés.</p>
                    </div>
                    <div class="w-100"></div> 

                    {# élément #}
                    <div class="col-12 mt-5 px-5">
                        <h2>Pourquoi participer aux Journées Nationales de la MIAGE ?</h2>
                        <ul>
                            <li>Pour découvrir les métiers et les débouchés liés aux études en MIAGE</li>
                            <li>Pour rencontrer des professionnels et des étudiants en MIAGE</li>
                            <li>Pour se faire une idée plus précise de ce qu'est la MIAGE et de ce que l'on peut en attendre</li>
                            <li>Pour poser toutes les questions que l'on se pose sur les études en MIAGE</li>
                        </ul>
                    </div>

                    {# élément #}
                    <div class="col-12 mt-5 px-5">
                        <h2>Comment participer aux Journées Nationales de la MIAGE ?</h2>                   
                            <p>Sur notre site web seront affiché toutes les informations importantes telles que la date, le lieu des Journées Nationales de la MIAGE. L'inscription est gratuite et vous pourrez également de recevoir des informations sur le programme ainsi que les partenaires qui seront présents.</p>
                    </div>
                    
                    {# élément #}
                    <div class="col-12 mt-5 px-5">
                        <h2>Informations pratiques</h2>
                            <p>Vous retrouverez toutes les informations utiles à votre séjour sur ce site.</p>
                            <p>Vous pouvez dès à présent cliquer ici pour consulter les <a href="/liste_logement">logements</a> ou les <a href="/liste_transport">transports</a> disponibles.</p>
                    </div>
                    <div class="w-100"></div>
            </div>
        </div>
    </section>

{% endblock %}
