{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_info_campus.css')}}">{% endblock %}

{% block body %}

        <section class="banner pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Page d'information sur le campus de Nanterre</h1>
                    
                </div>
                <h3>Campus de l'université Paris Nanterre</h3>
                    <p>Le campus de l'université Paris Nanterre est situé dans la ville de Nanterre à dix minutes de la Défense, en région Île-de-France. L'université est très accessible car bien desservie que ça soit en transport en commun, grâce aux lignes de métro et de RER ou bien en véhicule. Vous pourrez trouver une page d'information sur les transports</p>
                    <p>L'université est composé de nombreux bâtiments regroupant différentes facultés et centres de recherche. On y trouve notamment les facultés de droit, de sciences économiques, de sciences politiques, de sciences humaines et sociales, de sciences et de technologie, ainsi que le centre de recherche en informatique de Paris-Nanterre.</p>
                    
                    <p>Pour ce qui est de la vie sociale, les étudiants disposent également de nombreuses structures destinées à les accueillir et à les accompagner : restaurants universitaires, bibliothèques, centres de documentation, salles de travail et de détente, etc. L'université est également dotée de nombreux équipements sportifs et de loisirs, accessibles aux étudiants.</p>
                    <img src="images/campus.jpeg" alt="Image du campus" width=500 height=700/>
                    <p>Le campus de Paris Nanterre est un lieu de vie et d'étude agréable et dynamique, où les étudiants peuvent profiter de toutes les infrastructures et services mis à leur disposition pour réussir leurs études.</p>
                    <p>Voici une vidéo qui vous presentera le prochain campus d'accueil de la JNM :</p>
                    <iframe src="//www.youtube.com/embed/Pe-EhaCXYvU?ID_FICHE=1191418327132" width="500" height="500"><iframe>
                
                <div class="col-md-6">
                
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
