{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_info_jnm.css')}}">{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <h1>Information sur la JNM 2023</h1>
        <div class="container">
                <div class="row justify-content-center">
                    
                    {# élément #}
                    <div class="col-12 mt-5 px-5">
                        <h2>Informations Générales</h2>                    
                        <p> Affichage des informations concernant la JNM (Date, lieu, programme,comité d’organisation…), un décompte en nombre de jours restants
                        jusqu’au début de la manifestation.</p>
                    </div>
                    <div class="w-100"></div> 

                    {# élément #}
                    <div class="col-12 mt-5 px-5">
                        <h2>Séjourner à Paris</h2>                    
                        <p>Affichage d’informations utiles sur le séjour à Paris : des infos pratiques sur les transports, les arrondissements, les lieux phares à visiter, des bons plans…..</p>
                        <p>Cliquez ici pour réserver un <a href="/logement">logement</a> ou un <a href="/transport">transport</a></p>
                    </div>
                    <div class="w-100"></div>
            </div>
        </div>
    </section>

{% endblock %}
