{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_edit_user.css')}}">{% endblock %}
{% block title %}Gestion Users{% endblock %}

{% block body %}

        <section class="banner pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h1 class="text-center">Actualisation du profil</h1>
                    {{ form(userForm)}}
                </div>
            </div>
        </div>
    </section>

{% endblock %}