.card {
    width: 20rem; 
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    color: rgb(246, 237, 237);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
    padding-top: 5px;
    border-bottom-color: white;
    border-left-color: white;
    border-top-color: white;
    border-right-color: white;   
}

.banner {
    height: 2000px;
}