{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_accueil.css')}}">{% endblock %}

{% block body %}

    <section class="banner pt-4">
        <div class="container">
            <div class="row justify-content-center">
            
                {# élément #}
                <div class="col-12 p-2">
                    <h1>Bienvenue sur le site des Journées Nationales de la MIAGE 2023 </h1>
                </div>
                <div class="w-100"></div>

                {# élément #}
                <div class="col-6 p-4">
                    <h2>Titre</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae ea similique vero tempora minima quibusdam veniam magni harum saepe itaque est aspernatur architecto, odio cum aperiam nobis? Quaerat, expedita.</p>
                </div>

                {# élément #}
                <div class="col-6 p-4">
                    <h2>Titre</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae ea similique vero tempora minima quibusdam veniam magni harum saepe itaque est aspernatur architecto, odio cum aperiam nobis? Quaerat, expedita.</p>
                </div>

                {# élément #}
                <div class="col-6 p-4">
                    <h2>Titre</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae ea similique vero tempora minima quibusdam veniam magni harum saepe itaque est aspernatur architecto, odio cum aperiam nobis? Quaerat, expedita.</p>
                </div>

                {# élément #}
                <div class="col-6 p-4">
                    <h2>Titre</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae ea similique vero tempora minima quibusdam veniam magni harum saepe itaque est aspernatur architecto, odio cum aperiam nobis? Quaerat, expedita.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
