{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_accueil.css')}}">{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Bienvenue sur le site des Journées Nationales de la MIAGE 2023 </h1>
                </div>
                <div class="col-md-6">
                
                </div>
            </div>
        </div>
    </section>

{% endblock %}
