{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_delete_partenaire.css')}}">{% endblock %}

{% block body %}

    <h1>
        Bienvenue sur la page de Suppression de Partenaire
    </h1>

{% endblock %}
