{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/accueil.css')}}">{% endblock %}

{% block body %}

    <h1>Accueil - Journée Nationale </h1>
        <p>Bienvenue sur le site !</p>

{% endblock %}
