{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_info_campus.css')}}">{% endblock %}

{% block body %}

    <h1>
        Bienvenue sur la page d'Information sur le campus de Nanterre
    </h1>
    
{% endblock %}
