{% extends 'base.html.twig' %}

{% block body %}
    <style>
        h1 {
            color:red;
            font: size 30%;
            text-align: center;
        }
    </style>
    <h1>
        Bienvenue sur la page d'Information sur la journee nationnal de la Miage
    </h1>
{% endblock %}
