{% extends 'base.html.twig' %}

{% block body %}
    <style>
        h1{
            color:blue;
            font: size 30%;
            text-align: center;
        }
    </style>

    <h1>
        Bienvenue sur la page de la liste des activites
    </h1>
{% endblock %}
