{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_liste_activite.css')}}">{% endblock %}

{% block body %}

    <h1>
        Bienvenue sur la page de la liste des activites
    </h1>

{% endblock %}
