{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_logement.css')}}">{% endblock %}

{% block body %}

    <h1>
        Bienvenue sur la page de reservation d'un logement
    </h1>

{% endblock %}
