{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_liste_video.css')}}">{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <div class="container">
            <div class="row justitfy-content-center">
                <div class="col-12 mb-4">
                    <h1 class="text-center"> Liste des vidéos</h1>
                </div>
                    {% for video in videos %}
                    <div class="card-centrer">
                        <div class="col-12 mx-4 my-4 pb-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text">Lien : {{video.lien}}</p>
                                    <p class="card-text">Miage : {{video.Miage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
