{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_new_activite.css')}}">{% endblock %}

{% block body %}

        <section class="banner pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h1>S'inscrire à une activité</h1>
                    {{ form(activiteForm)}}
                </div>
            </div>
        </div>
    </section>

{% endblock %}