{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_contact.css')}}">{% endblock %}
{% block title %}Contact{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <h1 class="text-center">Contacts</h1>
        <div class="container">
                <div class="row justify-content-center">

                    {# élément #}
                    <div class="col-6 mt-5 px-5">
                        <h2>Pôle Communication</h2>                    
                        <p>
                        Responsable
                        </p>
                    Cheffe du pôle
                        <p>
                    Élodie CUERQ
                        </p>
                    Téléphone : 01 34 65 78 80
                        <p>
                    </div>

                    {# élément #}
                    <div class="col-6 mt-5 px-5">
                        <h2>Pôle Logistique</h2>                    
                                                <p>
                        Responsable
                        </p>
                    Chef du pôle
                        <p>
                    John KAVO
                        </p>
                    Téléphone : 01 34 45 34 80
                        <p>
                    </div>
                    <div class="w-100"></div> 

                    {# élément #}
                    <div class="col-6 mt-5 px-5">
                        <h2>Pôle Partenaires</h2>                    
                    <p>
                        Responsable
                        </p>
                    Chef du pôle
                        <p>
                    Patrick DUFFOUR
                        </p>
                    Téléphone : 01 32 30 78 80
                        <p>
                    </div>

                    {# élément #}
                    <div class="col-6 mt-5 px-5">
                        <h2>Pôle Gala</h2>                    
                        <p>
                        Responsable
                        </p>
                    Cheffe du pôle
                        <p>
                    Magalie LANCOT
                        </p>
                    Téléphone : 01 34 56 88 80
                        <p>
                    </div>

            </div>
        </div>
    </section>
    
{% endblock %}