{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_contact.css')}}">{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <h1>Contacts</h1>
        <div class="container">
                <div class="row justify-content-center">

                    {# élément #}
                    <div class="col-6 mt-5 px-5">
                        <h2>Pôle Communication</h2>                    
                        <p> Affichage des informations concernant la JNM (Date, lieu, programme,comité d’organisation…), un décompte en nombre de jours restants
                        jusqu’au début de la manifestation.</p>
                    </div>

                    {# élément #}
                    <div class="col-6 mt-5 px-5">
                        <h2>Pôle Logistique</h2>                    
                        <p> Affichage des informations concernant la JNM (Date, lieu, programme,comité d’organisation…), un décompte en nombre de jours restants
                        jusqu’au début de la manifestation.</p>
                    </div>
                    <div class="w-100"></div> 

                    {# élément #}
                    <div class="col-6 mt-5 px-5">
                        <h2>Pôle Partenaires</h2>                    
                        <p> Affichage des informations concernant la JNM (Date, lieu, programme,comité d’organisation…), un décompte en nombre de jours restants
                        jusqu’au début de la manifestation.</p>
                    </div>

                    {# élément #}
                    <div class="col-6 mt-5 px-5">
                        <h2>Pôle Gala</h2>                    
                        <p> Affichage des informations concernant la JNM (Date, lieu, programme,comité d’organisation…), un décompte en nombre de jours restants
                        jusqu’au début de la manifestation.</p>
                    </div>

            </div>
        </div>
    </section>
    
{% endblock %}