<!DOCTYPE html>


<html>
<title>Journée Nationale MIAGE 2023  </title>
    <head>
        <link rel="shortcut icon" type="image/png" href="images/logo.png"/>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# {% block stylesheets %} #}
            <style>
                {# {% include 'css/index.scss' %} #}
    
            @import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

                :root{
                --btn-width: 200px;
                --btn-height: 50px;
                --btn-text-color: #fff;
                --btn-border-radious: 10px;
                --btn-thikness: -10px;
                --btn-font-size: 1em;
                --btn-fourground-color: #CE352E;
                --btn-background-color: #541614;
                --body-background: #455063;
                }

                body{
                background: var(--body-background);
                font-family: 'Rubik Maze', cursive;
                }



                #compteur{
                    font-size : x-large;
                    text-align :center;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    gap: 10px 2em;
                    }

                #compteur :first-child {
                    align-self: justify;
                }

                p.jnm{
                    color:whitesmoke;
                    text-align: center;
                    font-size: 60px;
                    line-height: 2.5;
                    background-color: #ff0000;
                    border: 5px solid black;
                    text-shadow: 3px 3px 1px black;
                }

                div.logo {
                    display: flex;
                    width: 100%;
                    height: 150px;
                    justify-content: space-between;
                    align-items: center;

                }
                img.logo-nanterre {
                    display: inline-block;
                    height: 75%;
                    width: 430px;
                }

                img.logo-eden {
                    display: inline-block;
                    height: 85%;
                    width: 335px;
                }
                div.intro{
                    color:black;
                    text-align: start;
                    font-size: 20px;
                }

                div.wrap{
                    width: 100%;
                    height: 50px;
                    margin: 0;
                    z-index: 99;
                    position: relative;
                    background-color: #444444;
                }
                .navbar {
                    height: 50px;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                }

                .navbar li {
                    height: auto;
                    width: 178px;
                    float: left;
                    text-align: center;
                    list-style: none;
                    font: normal bold 13px/1em Arial, Verdana, Helvetica;
                    padding: 0;
                    margin: 0;
                    background-color: #444444;
                }
                .navbar a {
                    padding: 18px 0;
                    border-left: 1px solid #ccc9c9;
                    text-decoration: none;
                    color: white;
                    display: block;
                }

                .navbar li:hover, a:hover {
                    background-color: #444444;
                }

                .navbar li ul {
                    display: none;
                    height: auto;
                    margin: 0;
                    padding: 0;
                }

                .navbar li:hover ul {
                    display: block;
                }

                .navbar li ul li {
                    background-color: #444444;
                }

                .navbar li ul li a {
                    border-left: 1px solid #444444;
                    border-right: 1px solid #444444;
                    border-top: 1px solid #c9d4d8;
                    border-bottom: 1px solid #444444;
                }

                .navbar li ul li a:hover {
                    background-color: #a3a1a1;
                }

                p.info{
                    color:black;
                    text-align: center;
                    font-size: 60px;
                }

            </style>
        {# {% endblock %} #}

        <script src="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.js"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <div id="compteur">
        JNM
        
        <div id="days"></div>

        <div id="hours"></div>

        <div id="minutes"></div>

        <div id="seconds"></div>
        NANTERRE
        <script>

        var endDate = new Date('Mar 20, 2023').getTime();

        var countDownTimer = setInterval(() => {

        var now = new Date().getTime();

        var remainingTime = endDate - now;

        const second = 1000;

        const minute = second * 60;

        const hour = minute * 60;

        const day = hour * 24;

        daysLeft = Math.trunc(remainingTime / day);
        hoursLeft = Math.trunc((remainingTime % day) / hour); 
        minutesLeft = Math.trunc((remainingTime % hour) / minute);
        secondsLeft = Math.trunc((remainingTime % minute) / second);
        document.querySelector('#days').innerHTML = daysLeft + ' Jours';
        document.querySelector('#hours').innerHTML = hoursLeft + ' Heures';
        document.querySelector('#minutes').innerHTML = minutesLeft + ' Minutes';
        document.querySelector('#seconds').innerHTML = secondsLeft + ' Secondes';


        }, 1000);
        </script>
        </div>
        
        
    </head>
    <body>
    <header>
    <p class = "jnm">JOURNÉE NATIONALE DE LA MIAGE</p>
        <div class = "wrap"> 
            <nav>
                <ul class = "navbar">
                    <li> 
                        <a href="/">Accueil</a>
                    </li>

                    <li>
                        <a href = "#">Information JNM </a>
                        <ul> 
                            <li><a href="/info_jnm">
                                Information général sur la JNM</a>
                            </li>
                            <li><a href="/info_campus">
                                Information Campus de Nanterre</a>
                            </li> 
                        </ul>
                    </li>

                    <li>
                        <a href = "#">Compte </a>
                        <ul> 
                            <li><a href="/register">
                                Inscription</a>
                            </li>
                            <li><a href="/login">
                                Connexion</a>
                            </li>
                            <li><a href="/logout">
                                Deconnexion</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href = "#">Sejour à Paris </a>
                        <ul> 
                            <li><a href="/logement">
                                Réserver un logement</a>
                            </li> 
                            <li><a href="/transport">
                                Réserver un titre de transport</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Activite</a>
                        <ul>
                            <li><a href="/liste_activite">
                                Liste des Activités</a>
                            </li>
                            <li><a href="/activite">
                                Réserver une Activité</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href = "#">Statistique </a>
                        <ul>
                            <li><a href="/stats">
                                Liste des inscrits</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="/contact">Contact</a>
                    </li>

                    <li>
                        <a href="#">Partenaires </a>
                        <ul>
                            <li><a href="liste_partenaire">
                                Liste des Partenaires</a>
                            </li>
                            <li><a href="/new_partenaire">
                                Ajout d'un Partenaire</a>
                            </li>
                            <li><a href="/delete_partenaire">
                                Suppression d'un Partenaire</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <br>
        <br>
    <main>
      {% block body %}
      <br>
      
      <br>
      {% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.js"></script>
  </body>
</html>
        
    </body>
</html>

