<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="images/logo.png"/>
        <title> {% block title %} Accueil {% endblock %} - JNM</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
        {% block stylesheets %}{% endblock %}

        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>
        <script src="{{asset('assets/js/scripts.js')}}" defer></script>
        {% block javascripts %}{% endblock %}


    </head>

    <body>

    {% include "_partials/_nav.html.twig" %}

    {% block body %}{% endblock %}

    {% include "_partials/_footer.html.twig" %}

    </body>

</html>