{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_stats.css')}}">{% endblock %}
{% block title %}Statistiques{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <div class="container">
            <h1>Statistiques Générales</h1>
            <div class="row justify-content-center">
            
                {# élément #}
                <div class="col-12 mt-5 px-5">
                    <h2>Statistiques</h2>                    
                    <p>Afficher des stats sur les inscrits jusqu’à présent : leur nombre, leur provenance (quel Miage), les statuts ( étudiant, enseignant, diplômés…)….</p>
                </div>
                <div class="w-100"></div>

            </div>
        </div>
    </section>
    
{% endblock %}
