{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_liste_transport.css')}}">{% endblock %}
{% block title %}Liste Transports{% endblock %}

{% block body %}

    <section class="banner pt-5">
        <div class="container">
            <div class="row justitfy-content-center">
                <div class="col-12 mb-4">
                    <h1 class="text-center"> Liste des transports suggérés</h1>
                </div>
                    {% for transport in transports %}
                    <div class="card-centrer">
                        <div class="col-12 mx-4 my-4 pb-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 id="gras" class="card-title">Offre : {{transport.offre}}</h5>
                                    <p id="italique" class="card-text">Prix : {{transport.prix}} euros</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
