{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_new_transport.css')}}">{% endblock %}

{% block body %}

        <section class="banner pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Réserver un Transport</h1>
                    {{ form(transportForm)}}
                </div>
                <div class="col-md-6">
                
                </div>
            </div>
        </div>
    </section>

{% endblock %}