{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/_new_transport.css')}}">{% endblock %}

{% block body %}

        <section class="banner pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h1>Ajouter un transport</h1>
                    {{ form_start(transportForm)}}
                    {{ form_rest(transportForm)}}
                </div>
                <div class="w-100"></div>
                <br><br>
                <div class="col-6 mt-4">
                    <h1>Supprimer un transport</h1>
                </div>
            </div>
        </div>
    </section>

{% endblock %}